body {
    background-image: url('background.jpg');
    font-family: 'Courier New';
}
title {
    text-align: center;
}
.equation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}
#userAnswer {
    width: 30px;
    height: 30px;
    font-size: large;
}
#input {
    text-align: center;
}
#submit {
   height: 30px;
}